@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

    h1 {
      @apply font-[Poppins] font-bold text-azulANC text-center
      text-[24px] pb-[24px] mx-[15px]
      sm:text-[31px]
      md:text-[38px] md:pb-[30px]
      lg:text-[56px] lg:pb-[43px]
    }
    
    h2 {
        @apply font-[Poppins] font-bold text-center
        text-[20px] sm:text-[32px] lg:text-[40px]
    }
    
    h3 {
        @apply font-[Poppins] font-medium text-left text-azulANC text-[16px]
        sm:text-[32px] lg:text-center
    }
}

@layer components {

    .presentacion {
      @apply font-[Roboto] font-normal mx-auto
      text-[15px] w-[327px]
      sm:text-[16px] sm:w-[610px]
      md:text-[17px] md:w-[700px]
      lg:text-[22px] lg:w-[1018px] xl:w-[1021px]
    }

    .video {
      @apply mx-auto
    }
    
    .navbarbutton {
      @apply font-[Poppins] text-[16px] 
      font-normal text-[#212121]
      focus:font-semibold focus:text-azulANC

    }

    .contenedor {
      @apply  mx-auto w-[311px] pt-[32px] pb-[64px]
              sm:px-[8%] sm:w-auto
              xl:px-0 xl:w-[1016px] xl:pt-[50px] xl:pb-[72px]
    }

    .img-alianzas{
      @apply  w-[104.09px]  h-[27.3px]
      sm:w-[164px] sm:h-[35px]
    }

    .publicados {
      @apply font-[Poppins] font-bold text-azulANC
      text-[24px]
      sm:text-[36px] sm:text-center
      xl:text-[40px]
    }
    .contenedor{
      @apply  mx-auto w-[327px] pt-[32px] pb-[4px]
              sm:px-[8%] sm:w-auto bg-green-400
              xl:px-0 xl:w-[1112px] xl:pt-[50px] xl:pb-[22px]
    }


  .noticias {
    @apply font-[Poppins] text-[18px] text-center
    sm:text-[36px] font-medium text-[#333333]
  }

  .nombre {
    @apply  font-[Poppins] text-[16px] font-medium text-azulANC
    sm:text-[20px] 
  }

  .numero {
    @apply  font-[Poppins] text-[12px] font-light text-[#5F5F5F] 
    sm:text-[16px]
  }

  .texto {
    @apply  font-[Poppins] text-[10px] text-left font-light text-[#5F5F5F] 
    sm:text-[18px]  
  }

  .cardH3 {
    @apply font-[Poppins] font-medium text-left text-azulANC text-[12px]
    sm:text-[20px] sm:text-center
  }

  .cardnombre {
    @apply  font-[Poppins] text-[10px] font-medium text-azulANC text-left
    sm:text-[16px]
  }

  .cardnumero {
    @apply  font-[Poppins] text-[10px] font-light text-[#5F5F5F] 
    sm:text-[14px]
  }

  .cardtexto {
    @apply  font-[Poppins] text-[10px] font-normal text-[#5F5F5F]  text-left
    sm:text-[16px]
  }

  .estadistica {
    @apply  font-[Poppins] text-[32px] font-semibold text-[#FffffF] text-center
    lg:text-[82px]
  }

  .estadisitica2 {
    @apply  font-[Poppins] text-[18px] font-medium text-[#FffffF] text-center mt-[2px]
    lg:text-[32px] lg:font-semibold lg:mt-[-20px]
  }

}